@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar,
body * :-webkit-scrollbar,
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px !important;
  height: 0px;
  background: black !important;
}
::-webkit-scrollbar-thumb,
body * ::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #0d9488 !important;
  border-radius: 0px;
  -webkit-border-radius: 0ex;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-track,
body * ::-webkit-scrollbar-track,
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #0d9488 !important;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html {
  --cursor-color:(133,133,133);
}

header,
header *,
main,
main *,
footer,
footer * {
  --transition_delay: 0.2s;
  transition: all 0.2s ease-in !important;
  transition: all 0.5s ease-in !important;
  -webkit-transition: all 0.2s ease-in !important;
  -o-transition: all 0.2s ease-in !important;
  -moz-transition: all 0.2s ease-in !important;
  -ms-transition: all 0.2s ease-in !important;
  scrollbar-width: thin !important;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  accent-color: #0d9488;
  scroll-behavior: smooth;
  font-family: "Ysabeau SC", sans-serif !important;
  box-sizing: border-box;
}
body {
  background-color: #1c1917;
  color: white;
}
body {
  background-color: #1c1917;
  color: white;
}
a {
  position: relative;
  /* filter:hue-rotate(360deg); */
  display: inline-block;
  /* margin: 15px;*/
  padding: 5px 5px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  transition: all ease-out 0.5s;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  /* animation:animateA 5s linear infinite; */
}

a:not(.noBlackShadow) {
  box-shadow: 0px 0px 18px 4px rgba(13, 148, 136, 0.2) !important;
}
a::after,
a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  transition: 0.5s;
  opacity:0.8;
  animation:scale-out 4s ease-in infinite; 
  /* animation-delay:20ms; */
}
@keyframes scale-out {
100%{
  opacity:0;
  transform:scale(1.2);
  
}
}
a::after {
  top: 2px;
  left: 2px;
  /* border-top: 3px solid transparent; */
  /* border-left: 3px solid transparent; */
}

a::before {
  bottom: 2px;
  right: 2px;
  /* border-bottom: 3px solid transparent; */
  /* border-right: 3px solid transparent; */
}

a:hover::after,
a:hover::before {
  border-radius: 5px;
  width: calc(100% + 5px);
  height: calc(100% + 2px);
  /* border-color: #222222; */

  box-shadow: 0px 0px 18px 4px rgba(13, 148, 136, 0.7) !important;
  background-color: rgba(131, 131, 131);
  /* color: black; */
  opacity: 0.2;
}

a:active::after,
.carousel-dot:hover,
.carousel-dot:active,
.noBlackShadow:hover,
.noBlackShadow:active,
a:active::before {
  box-shadow: 0px 0px 18px 4px rgba(13, 148, 136, 0.7) !important;
  
  animation:scale-out 4s ease-in infinite; 
}
.bg-teal-600:hover::after,
.bg-teal-600:hover::before {
  height: calc(100% + 5px);
  opacity: 0.3;
  background-color: inherit;
}
.grid-templateh-24 {
  grid-template-rows: 0.5fr;
  display: grid !important;
  overflow: hidden;
}
.grid-templateh-max {
  overflow: hidden;
  grid-template-rows: 1fr;
  display: grid !important;
}
#progressBarContainer {
  position: absolute;
  z-index: 10;
  background: rgba(255, 255, 255, 0.05);
  width: 100%;
  bottom: 0;
  left: 0;
}

#progressBar {
  background: linear-gradient(to right, #b9cfce, #0d9488);
  transform-origin: top left;
  transform: scale(0, 0);
  opacity: 0;
}

#progressBarContainer,
#progressBar {
  min-height: 2px;
  /* max-height: 5px; */
}
.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1c1917 !important;
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}
.loader p {
  /* position:absolute; */
  font-family: "Ysabeau SC", sans-serif !important;
  /* bottom:50px; */
  margin-top: 20px;
  color: white;
}
.loader span {
  margin: 0px !important;
}
@keyframes fadein {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
html {
  --cursor-color: #333;
}

html.dark-mode {
  --cursor-color: #fff;
}
.CarouselParent {
  width: 100%;
  /* margin: 0px 108px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: max-content;
}

.false {
  min-width: 100% !important;
  min-height: 100% !important;
  width: 100% !important;
  position: relative !important;
  height: 100% !important;
  display: none;
  transition: ease-in-out 1s;
}
.activeCarousal {
  display: inline-block !important;
  animation: fadeIn 750ms ease-in forwards;

  /* transition: transform 4s ease-in-out;
  transform: translateX(0); */
  min-width: 100% !important;
  min-height: 100% !important;
  width: 100% !important;
  position: relative !important;
  height: 100% !important;
}
@keyframes fadeIn {
  0% {
    opacity: 0.5;
    /* transform: translateX(0); */
  }
  100% {
    opacity: 1;
    /* transform: translateX(-100%); */
  }
}
.carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  transition: all 1s ease-in;
}

.carousel-dot {
  width: 13px;
  height: 13px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 0.25rem;
  border-radius: 50%;
  background-color: #000;
}

.active-dot {
  background-color: #0d9488;
  width: 26px;
  box-shadow: 0px 0px 18px 4px rgba(13, 148, 136, 0.7) !important;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 20px;
}
.shadow-2xl img {
  margin: auto;
}
.text-to-speech-player button {
  cursor: pointer !important;
}
.carousel-dot.orangeDot.active-dot {
  background-color: rgb(201, 133, 57);
  box-shadow: 0px 0px 18px 4px rgba(201, 133, 57, 0.7) !important;
  border: 1px solid rgba(0, 0, 0, 1);
}
.carousel-dot.lightGreyDot.active-dot {
  background-color: rgb(157, 157, 157);
  box-shadow: 0px 0px 18px 4px rgba(161, 161, 161, 0.7) !important;
  border: 1px solid rgba(255, 255, 255, 1);
}
.carousel-dot.lightReddishDot.active-dot {
  background-color: #fd7260;
  box-shadow: 0px 0px 18px 4px rgba(245, 62, 49, 0.7) !important;
  border: 1px solid rgba(6, 6, 6, 1);
}
.h-500 {
  height: 500px;
  overflow: hidden;
}
@media (max-width: 600px) {
  .h-500 {
    height: 400px;
  }
}
@media (max-width: 385px) {
  .h-500 {
    height: 50vh;
  }
}
.bg-teal-car {
  background-color: #0d9488;
  border-radius: 0px;
  border-color: #0d9488;
}
.thumb-teal::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #0d9488;
  cursor: pointer;
}

.thumb-teal::-moz-range-thumb {
  width: 15px;
  height: 25px;
  background: #0d9488;
  cursor: pointer;
}
.max-h-960 {
  transition: max-height 1000ms ease-in !important;
  max-height: 3000px !important;
  /* display:block; */
}
#about,
#projects {
  transition: all 0.2s ease-in !important;
  transition: all 0.5s ease-in !important;
  -webkit-transition: all 0.2s ease-in !important;
  -o-transition: all 0.2s ease-in !important;
  -moz-transition: all 0.2s ease-in !important;
  -ms-transition: all 0.2s ease-in !important;
}
